@tailwind base;
@tailwind components;
@tailwind utilities;

.boxsvg {
  filter: drop-shadow(2px 7px 3px #00171f);
}
rect {
  filter: drop-shadow(0px 4px 4px #00171f);
}
.grecaptcha-badge {
  visibility: hidden;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background dark:bg-background text-foreground dark:text-foreground;
  }
  .markdown-content {
    @apply text-foreground dark:text-foreground;
  }

  .markdown-content h1 {
    @apply text-4xl font-bold text-foreground dark:text-foreground mb-6;
  }

  .markdown-content h2 {
    @apply text-3xl font-bold text-foreground dark:text-foreground mb-4 mt-8;
  }

  .markdown-content h3 {
    @apply text-2xl font-bold text-foreground dark:text-foreground mb-3 mt-6;
  }

  .markdown-content p {
    @apply text-foreground dark:text-foreground mb-4 leading-relaxed;
  }

  .markdown-content a {
    @apply text-blue-400 hover:text-blue-500 underline;
  }

  .markdown-content ul {
    @apply list-disc list-inside mb-4 text-foreground dark:text-foreground;
  }

  .markdown-content ol {
    @apply list-decimal list-inside mb-4 text-foreground dark:text-foreground;
  }

  .markdown-content code {
    @apply bg-background dark:bg-background rounded px-1 py-0.5 text-foreground dark:text-foreground;
  }

  .markdown-content pre {
    @apply bg-background dark:bg-background rounded p-4 mb-4 overflow-x-auto;
  }

  .markdown-content blockquote {
    @apply border-l-4 border-slate-500 pl-4 italic text-foreground dark:text-foreground my-4;
  }
}
